@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Bold.woff2') format('woff2'),
        url('../fonts/PTSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Regular.woff2') format('woff2'),
        url('../fonts/PTSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Prata';
    src: url('../fonts/Prata-Regular.woff2') format('woff2'),
        url('../fonts/Prata-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html {
  box-sizing: border-box; 
}

*,
*:before,
*:after {
  box-sizing: inherit; 
}

body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}
* {
  box-sizing: border-box;
}
.wrapper {
  width: 100%;

}
.promo {
  background-image: url(../images/bg_main-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px; 
}
.logo-link {
  font-family: Prata, serif;
  font-size: 32px;
  color: #eec643;
  text-decoration: none;

}
.logo {
  margin: 20px 0;
}
.toggler {
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 15px;
    display: flex;
    align-items: center;
    width: 26px;
    height: 30px
}
.toggler--close .burger {
  width: 0;

}
.toggler--close .burger:before {
  transform: rotate(-45deg);
  transition: 300ms ease-in-out;
  left: 12px;
}
.toggler--close .burger:after {
  transform: rotate(45deg);
  transition: 300ms ease-in-out;
  right: 11px;
}

.burger {
  width: 2px;
  height: 25px;
  background-color: #fff;
  margin: auto; 
}
.burger:before {
  transition: 300ms ease-in-out;
  position: absolute;
  content: "";
  width: 2px;
  height: 25px;
  background-color: #fff;
  left: 0;
  display: block;
}
.burger:after {
  transition: 300ms ease-in-out;
  position: absolute;
  content: "";
  width: 2px;
  height: 25px;
  background-color: #fff;
  right: 0;
  display: block;
}
.promo__row-title {
  margin-top: 90px;
}
 h2 {
  font-size: 30px;
  font-family: Prata, Regular ;
 }
.promo__title {
  font-size: 32px;
  color: #fff;
  margin: 0;
  font-family: Prata, Regular ;
}
.text {
  font-size: 16px;
  color: #fff;
}
.text-promo {
  font-size: 16px;
  color: #fff;
  margin: 15px 0 90px 0;
}
.promo-btn {
  background-color: #eec643;
  width: 290px;
  height: 60px;
  color: #fff;
  font-size: 16px;
  margin-bottom: 25px;
  border: none;
}
.title-wrap {
  position: relative;
  
}
.title:before {
 position: absolute;
  content: "";
  width: 230px;
  height: 2px;
  background-color: #eec643;
  left: 0;
  display: block; 
}
.title:after {
   position: absolute;
  content: "";
  width: 230px;
  height: 2px;
  background-color: #eec643;
  left: 0;
  

  display: block;
}
.school-title {
  max-width: 230px;
}

/* ------------------------------------------grow*/

.grow-item {
  width: 290px;
  height: 145px;
  padding: 30px 0 0 10px;
  margin-top: 10px;
}
.grow-item-vokal {
 background-image: url(../images/vokal_m.jpg);
  background-repeat: no-repeat; 
  margin-top: 15px;
}
.grow-item-guitar {
  background-image: url(../images/guitar_m.jpg);
  background-repeat: no-repeat; 
}
.grow-item-piano {
 background-image: url(../images/piano_m.jpg);
  background-repeat: no-repeat; 
  width: 212px;
}
.grow-btn {
  background-color: #eec643;
  color: #fff;
  width: 145px;
  height: 60px;
  text-align: left;
  transform: rotate(-90deg);
  transform-origin: left;
  position: absolute;
  left: 258px;
  bottom: -30px;
  border: none;
  padding: 10px 15px;
}
.grow-row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.item-title  {
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  width: 200px;
  margin: 0;
}
.grow-text {
  width: 200px;
  margin-top: 10px;
}
/*----------------------------------------------temp*/

.temp-item {
  width: 290px;
  height: 145px;
  padding: 30px 0 0 10px;
  
}
.temp-title {
  margin-bottom: 26px;
}
.temp-item-sostav {
  background-image: url(../images/sostav_m.jpg);
  background-repeat: no-repeat; 
  /*margin-top: 15px;*/
}
.temp-item-result {
  background-image: url(../images/result_m.jpg);
  background-repeat: no-repeat; 
  margin-top: 15px;
}
.temp-item-studio {
  background-image: url(../images/studio_m.jpg);
  background-repeat: no-repeat; 
  width: 212px;
  margin-top: 15px;
}
.temp-btn {
  background-color: #eec643;
  color: #fff;
  width: 145px;
  height: 60px;
  text-align: left;
  transform: rotate(-90deg);
  transform-origin: left;
  position: absolute;
  left: 258px;
  bottom: -30px;
  border: none;
  padding: 10px 15px;
}
.temp-row {
  position: relative;
}
.temp-text {
  margin-top: 10px;
}





.carousel {
width: 240px;
margin: auto;

position: relative;  
}

.school-item {
  width: 239px;
  height: 185px;
  padding: 30px 0 0 10px;
  margin-top: 10px;
  margin: 0 10px 25px ;
  background-repeat: no-repeat;
  background-size: cover;
}
.slick-prev {
  position: absolute;
  top: 77px;
  left: -25px;
  display: block;
  width: 20px;
  height: 20px;
  font-size: 0;
  background-image: url(../images/arrow_l.png);
  background-repeat: no-repeat;
  border: none;
  opacity: 100%;
}
.slick-next {
  position: absolute;
  top: 77px;
  right: -34px;
  display: block;
  width: 20px;
  height: 20px;
  font-size: 0;
  background-image: url(../images/arrow_r.png);
  background-repeat: no-repeat;
  border: none;
  opacity: 100%;
}
.slick-slide {
  height: 185px;
}
.school-item--cherry {
  background-image: url(../images/video_card_cherry.jpg);
}
.school-item--young {
  background-image: url(../images/video_card_img_young.jpg);
  margin: 0 15px;
}
.school-item--summer {
  background-image: url(../images/video_card_img_summer.jpg);
  margin: 0 15px;
}
.school-item--trofimov {
  background-image: url(../images/video_card_img_Trofimov.jpg);
  margin: 0 15px;
}

.school-text {
  margin: 5px 0 15px 0;
}



.school__item-title {
  margin-top: 100px;
}


.phone {
  text-decoration: none;
  color: #000;
}
.map-wrapper {
  height: 215px;
  width: 290px; 
  background-color: gray;
}
.contacts-btn {
  background-color: #eec643;
  width: 290px;
  height: 60px;
  color: #fff;
  font-size: 16px;
  margin: 20px 0;
  border: none;
}


.nav {
  display: none;
  /*display: block;*/
}


.nav--visible {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: #021a23;
  display: block;
  list-style: none;

}

.nav__link {
  text-decoration: none;
  color: #fff;
  line-height: 2;
}


.promo__row-form {
  display: none;
  border: 1px solid #000;
}
.promo__form {
  display: none;
}
.form-btn {
  display: none;
}
.grow-item-lectures {
  display: none;
}
.grow__btn-desktop {
  display: none;
}
.temp__form {
  display: none;
}
.school-item--hide {
  display: none;
}
.form {
  display: none;
}
.school-text--hide {
  display: none;
}
.school-col1 {
  display: block;
}
.school-col2 {
  display: block;
}
.form-wrap {
  display: none;
}

.nav__list {
  display: block;
  list-style: none;
  margin: 0;
  padding: 15px;
}
.container-footer {
  display: none;
}
.container-form {
  display: none;
}
.school-col2 {
  display: none;
}
.school-col1 {
  display: none;
}







@media (min-width: 760px) {

  .container {
  padding: 0 55px;
  display: flex;
  flex-wrap: wrap; 
}
.promo {
  background-image: url(../images/bg_main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 770px;
 
  }
.news-list {
  display: flex;
}
.nav {
  display: flex;
  margin-left: auto;
}
.nav__list {
  display: flex;
}
.nav__item {
padding: 10px;
}
.nav__link {
  color: #000;
  text-transform: uppercase;
}

.toggler {
    display: none;
  }
.promo__title {
  font-size: 55px;
}
.promo__row-title {
  width: 700px;
  margin-top: 170px;
}
.text {
  font-size: 20px;
}



/*---------------------------------- растим*/
.grow-wrap {
  padding-left: 100px;
}
.grow-item {
 width: 470px;
 height: 270px;
 padding: 15px 0 0 15px;
}

.grow-item-vokal {
  background-image: url(../images/directions_card_img_2.jpg);
  width: 570px;
  margin: 0 15px 15px 0;
}
.grow-item-guitar {
  background-image: url(../images/directions_card_img_1.jpg);
  margin: 0 0 15px 15px;
}
.grow-item-piano {
  background-image: url(../images/directions_card_img_3.jpg);
  margin: 15px 15px 15px 0;
}
.grow-item-lectures {
  background-image: url(../images/directions_card_img_4.jpg);
  display: block;
  background-repeat: no-repeat;
  width: 270px;
  margin: 15px;
}
.grow-row {
  display: flex;
}
.grow-btn {
  display: none;
}
.grow__btn-desktop {
  display: block;
  background-color: #eec643;
  width: 270px;
  height: 270px;
  color: #fff;
  text-align: top;
  font-size: 30px;
  font-weight: 700;
  margin: 15px 0 15px 15px;
  padding: 20px 30px;
}
.grow-text {
  color: #fff;
  font-size: 20px;
  width: auto;
  height: 20px;
}
.item-title {
  height: 30px;
  width: 300px;
  font-size: 30px;
  font-weight: 700;

}
.title--rotate {  
  transform: rotate(-90deg);
  transform-origin: left;
  position: absolute;
  left: 30px;
  bottom: -24px;
  border: none;
  padding: 10px 15px;
  white-space: nowrap;
}
.temp-item-studio {
  margin-top: 0;
}
.form-wrap{
  display: block;
  width: 270px;
  height: 100%;
  background-color: white;
  border: 2px solid #eec643;
  opacity: 1;
  padding-top: 30px;
  margin-bottom: 100px;
  margin-left: 30px;
  position: relative;
  }
  .school-item--young {
  background-image: url(../images/video_card_img_young.jpg);
  margin: 0;
}
.school-item--summer {
  background-image: url(../images/video_card_img_summer.jpg);
  margin: 30px 0;
}
.school-item--trofimov {
  background-image: url(../images/video_card_img_Trofimov.jpg);
  margin: 30px 0;
}
.school-wrapper {
  display: none;
}
.school__title-wrap {
  display: none;
}
.desktop-item--cherry {
  background-image: url(../images/video_card_img_1.jpg);
  height: 570px;
  width: 770px;
}
.desktop-item {
  width: 270px;
  height: 170px;
  position: relative;
}
.desktop-item:before {
  position: absolute;
  background-image: url(../images/play-button-s.png);
  background-repeat: no-repeat;
}
.desktop-item--title {
  color: #fff;
  margin-top: 0px;
  font-size: 14px;
}
.desktop-main--title {
  color: #fff;
  margin-top: 0px;
}
.school-col2 {
  margin-left: 30px;
  display: block;
}
.school-text--hide {
  color: #fff;
  font-size: 20px;
  line-height: 1.5;
  display: block;
}
.school-text-row {
  width: 300px;
  padding: 30px;
}
.school-text-mobile {
  display: none;
}
.school-text {
  font-size: 14px;

}
.school-col1 {
  display: flex;
  flex-wrap: wrap;
}
.school-item {
  width: 239px;
  height: 185px;
  padding: 30px 0 0 10px;
  margin-top: 10px;
  margin: 0 10px 25px ;
  background-repeat: no-repeat;
  background-size: cover;
  }
.school-container {
  margin-top: 100px;
}
.school-title {
  transform: rotate(-90deg) translate(-490%);
  max-width: 600px;
  white-space: nowrap;
}
.sch__title-wrap {
  width: 100px;
  height: 500px;
}
.row-title {
  
}
.title {
  font-size: 50px;
  margin: 0;
}

/*------------------------------------ contacts*/
.container-contacts {
  margin-top: 100px;
}
.contacts-title-wrap {
  width: 600px;
}
.title:before {
    position: absolute;
    content: "";
    width: 570px;
    height: 2px;
    background-color: #eec643;
    left: 0;
    display: block;
}
.title:after {
    position: absolute;
    content: "";
    width: 570px;
    height: 2px;
    background-color: #eec643;
    left: 0;
    display: block;
}
.contacts-item {
  width: 260px;
  font-size: 20px;
}
.container-map {
  display: flex;
  flex-wrap: wrap;
  width: 870px;
}
.map-wrapper {
width: 870px;
height: 470px;
}
.contacts-title {
  margin-bottom: 42px;
}
.contacts-btn {
  display: none;
}
/*--------------------------------------footer*/

.list-wrap {
margin-left: auto;
}
.social-list {
  display: flex;
  padding-top: 15px;
}
.social-link {
  text-decoration: none;
  color: #000;
}
.container-footer {
  margin-top: 70px;
}
.container-form {
  display: block;
}
 
}





@media (min-width: 1080px) {

.grow-container {
  margin-top: 100px;
}
.temp-container {
  margin-top: 100px;
}
.promo-btn {
  display: none;
}
.promo__form-row {
  margin-left: auto;
  margin-top: 75px;
}
.promo__form {
  display: block;
  width: 270px;
  background-color: white;
  border: 2px solid #000;
  opacity: 0.9;
  padding-top: 30px;
  margin-bottom: 100px;  
}
input {
  border: none;
  width: 210px;
  height: 30px;
  border-bottom: 2px solid #000;
  margin-left: 30px;
}
.form-text {
  font-size: 20px;
  margin-left: 30px; 
}
.form-title {
  font-size: 30px;
  font-weight: 700;
  margin: 30px;
}
.form__select {
 border: none;
  width: 210px;
  height: 30px;
  border-bottom: 2px solid #000;
  margin-top: 20px;
  margin-left: 30px;
}
.form-btn {
  background-color: #021a23;
  width: 100%;
  height: 60px;
  border: none;
  color: #fff;
  font-size: 20px;
  display: block;
  margin-top: 70px;
}
.temp-item {
  width: 270px;
  height: 470px; 
}
.temp-item-sostav {
  background-image: url(../images/advantages_card_img_1.jpg);
  margin: 15px 30px 0 0;
}
.temp-row {
  width: 570px;
  display: flex;
  flex-wrap: wrap;
}
.temt-row--margin {
  margin-right: 30px;
}
.temp-item-result {
  width: 270px;
  height: 470px;
  background-image: url(../images/advantages_card_img_2.jpg);
  margin-top: 15px;
}
.temp-title {
  position: static;
}
.temp-btn {
  display: none;
}
.temp-item-studio {
  background-image: url(../images/advantages_card_img_3.jpg);
  height: 570px;
}
.school-item--cherry {
  display: none;
}
.temp-title {
  width: 570px;
}






  
}
.temp-input {
  border-bottom: 2px solid #eec643;
  
}
.form-text {
  font-size: 20px;
  margin-left: 30px;
  
}
.form-title--color {
  color: #eec643;
}
.row-btn {
  margin-top: auto;
}
}
.form__select {
 border: none;
  width: 210px;
  height: 30px;
  border-bottom: 2px solid #000;
  margin-top: 20px;
  margin-left: 30px;
}
.form-btn--color {
background-color: #eec643;
position: absolute;
top: 437px;
}
.input-row {
  margin-top: 170px;
}




